In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sklearn
from sklearn import linear_model
#from sklearn.cross_validation import train_test_split
from sklearn.feature_selection import RFE
from sklearn.preprocessing import OneHotEncoder, scale, LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
Train_raw = pd.read_csv(r'D:\Learn\HomeWork_Lyft\train.csv')
Test_raw = pd.read_csv(r'D:\Learn\HomeWork_Lyft\test.csv')

In [84]:
Weather_raw = pd.read_csv(r'D:\Learn\HomeWork_Lyft\weather_data.csv')

In [18]:
Train_raw.head()

,row_id,start_lng,start_lat,end_lng,end_lat,start_timestamp,duration,start_lat_2,start_lng_2,end_lng_2,end_lat_2
0,0,-74.009087,40.713818,-74.004326,40.719986,1420950819,112,40.714,-74.009,-74.004,40.720
1,1,-73.971176,40.762428,-74.004181,40.742653,1420950819,1159,40.762,-73.971,-74.004,40.743
2,2,-73.994957,40.745079,-73.999939,40.734650,1421377541,281,40.745,-73.995,-74.000,40.735
3,3,-73.991127,40.750080,-73.988609,40.734890,1421377542,636,40.750,-73.991,-73.989,40.735
4,4,-73.945511,40.773724,-73.987434,40.755707,1422173586,705,40.774,-73.946,-73.987,40.756

In [85]:
Train_raw['start_timestamp'].min()

1420099203

In [88]:
Weather_raw.head()

,Date,Max_Temp,Min_Temp,Avg_Temp,Temp_Departure,HDD,CDD,Precipition,New_Snow,Snow_Depth
0,1/1/2015,39,27,33.0,-0.4,32,0,0.00,0.0,0
1,1/2/2015,42,35,38.5,5.2,26,0,0.00,0.0,0
2,1/3/2015,42,33,37.5,4.4,27,0,0.71,0.0,0
3,1/4/2015,56,41,48.5,15.5,16,0,0.30,0.0,0
4,1/5/2015,49,21,35.0,2.1,30,0,0.00,0.0,0

In [90]:
Weather_raw['Date']

pandas.core.series.Series

In [4]:
Train_raw['start_lat_2'] = round(Train_raw['start_lat'],3)
Train_raw['start_lng_2'] = round(Train_raw['start_lng'],3)
Train_raw['end_lng_2'] = round(Train_raw['end_lng'],3)
Train_raw['end_lat_2'] = round(Train_raw['end_lat'],3)

In [5]:
trip_cnt_by_ln_lat_start = Train_raw.groupby(['start_lat_2','start_lng_2'])['row_id'].size()
trip_cnt_by_ln_lat_end   = Train_raw.groupby(['end_lat_2','end_lng_2'])['row_id'].size()

In [11]:
trip_cnt_by_ln_lat_start_dict = dict(trip_cnt_by_ln_lat_start.sort_values(ascending=False))
trip_cnt_by_ln_lat_end_dict   = dict(trip_cnt_by_ln_lat_end.sort_values(ascending=False))

In [12]:
trip_duration_by_ln_lat_start = Train_raw.groupby(['start_lat_2','start_lng_2'])['duration'].mean()
trip_duration_by_ln_lat_end   = Train_raw.groupby(['end_lat_2','end_lng_2'])['duration'].mean()

In [13]:
trip_duration_by_ln_lat_start_dict = dict(trip_duration_by_ln_lat_start.sort_values(ascending=False))
trip_duration_by_ln_lat_end_dict   = dict(trip_duration_by_ln_lat_end.sort_values(ascending=False))

In [49]:
lst_start_lat_lng = Train_raw[['start_lat_2','start_lng_2']].values.tolist()
lst_end_lat_lng = Train_raw[['end_lat_2','end_lng_2']].values.tolist()

In [50]:
# To look up a tuple 
# trip_cnt_by_ln_lat_start_dict.get((40.724,-73.993))

lst_trip_cnt_by_ln_lat_start = [trip_cnt_by_ln_lat_start_dict.get(tuple(x)) for x in lst_start_lat_lng]
lst_trip_cnt_by_ln_lat_end = [trip_cnt_by_ln_lat_end_dict.get(tuple(x)) for x in lst_end_lat_lng]

lst_trip_duration_by_ln_lat_start = [trip_duration_by_ln_lat_start_dict.get(tuple(x)) for x in lst_start_lat_lng]
lst_trip_duration_by_ln_lat_end = [trip_duration_by_ln_lat_end_dict.get(tuple(x)) for x in lst_end_lat_lng]

In [58]:
Train_raw['trip_cnt_by_start'] = lst_trip_cnt_by_ln_lat_start
Train_raw['trip_cnt_by_end'] = lst_trip_cnt_by_ln_lat_end
Train_raw['trip_duration_by_start'] = lst_trip_duration_by_ln_lat_start
Train_raw['trip_duration_by_end'] = lst_trip_duration_by_ln_lat_end

In [59]:
Train_raw.head()

,row_id,start_lng,start_lat,end_lng,end_lat,start_timestamp,duration,start_lat_2,start_lng_2,end_lng_2,end_lat_2,trip_cnt_by_start,trip_cnt_by_end,trip_duration_by_start,trip_duration_by_end
0,0,-74.009087,40.713818,-74.004326,40.719986,1420950819,112,40.714,-74.009,-74.004,40.720,7987,1495,850.331414,715.309699
1,1,-73.971176,40.762428,-74.004181,40.742653,1420950819,1159,40.762,-73.971,-74.004,40.743,8664,10631,764.462027,688.180322
2,2,-73.994957,40.745079,-73.999939,40.734650,1421377541,281,40.745,-73.995,-74.000,40.735,15468,4782,652.257564,675.881430
3,3,-73.991127,40.750080,-73.988609,40.734890,1421377542,636,40.750,-73.991,-73.989,40.735,64132,2986,850.666625,738.551909
4,4,-73.945511,40.773724,-73.987434,40.755707,1422173586,705,40.774,-73.946,-73.987,40.756,3584,8497,747.302734,843.338590

In [65]:
# To test running this function: 
# tr1, dct1, dct2, dct3, dct4 = create_features_training(Train_raw.loc[:10,:])

def create_features_training(input_df):
    input_df['start_lat_2'] = round(input_df['start_lat'],3)
    input_df['start_lng_2'] = round(input_df['start_lng'],3)
    input_df['end_lng_2'] = round(input_df['end_lng'],3)
    input_df['end_lat_2'] = round(input_df['end_lat'],3)
    
    trip_cnt_by_ln_lat_start = input_df.groupby(['start_lat_2','start_lng_2'])['row_id'].size()
    trip_cnt_by_ln_lat_end   = input_df.groupby(['end_lat_2','end_lng_2'])['row_id'].size()
    
    trip_cnt_by_ln_lat_start_dict = dict(trip_cnt_by_ln_lat_start.sort_values(ascending=False))
    trip_cnt_by_ln_lat_end_dict   = dict(trip_cnt_by_ln_lat_end.sort_values(ascending=False))

    trip_duration_by_ln_lat_start = input_df.groupby(['start_lat_2','start_lng_2'])['duration'].mean()
    trip_duration_by_ln_lat_end   = input_df.groupby(['end_lat_2','end_lng_2'])['duration'].mean()
    
    trip_duration_by_ln_lat_start_dict = dict(trip_duration_by_ln_lat_start.sort_values(ascending=False))
    trip_duration_by_ln_lat_end_dict   = dict(trip_duration_by_ln_lat_end.sort_values(ascending=False))
    
    lst_start_lat_lng = input_df[['start_lat_2','start_lng_2']].values.tolist()
    lst_end_lat_lng = input_df[['end_lat_2','end_lng_2']].values.tolist()
    
    lst_trip_cnt_by_ln_lat_start = [trip_cnt_by_ln_lat_start_dict.get(tuple(x)) for x in lst_start_lat_lng]
    lst_trip_cnt_by_ln_lat_end = [trip_cnt_by_ln_lat_end_dict.get(tuple(x)) for x in lst_end_lat_lng]

    lst_trip_duration_by_ln_lat_start = [trip_duration_by_ln_lat_start_dict.get(tuple(x)) for x in lst_start_lat_lng]
    lst_trip_duration_by_ln_lat_end = [trip_duration_by_ln_lat_end_dict.get(tuple(x)) for x in lst_end_lat_lng]
    
    input_df['trip_cnt_by_start'] = lst_trip_cnt_by_ln_lat_start
    input_df['trip_cnt_by_end'] = lst_trip_cnt_by_ln_lat_end
    input_df['trip_duration_by_start'] = lst_trip_duration_by_ln_lat_start
    input_df['trip_duration_by_end'] = lst_trip_duration_by_ln_lat_end
    
    return input_df, trip_cnt_by_ln_lat_start_dict, trip_cnt_by_ln_lat_end_dict, trip_duration_by_ln_lat_start_dict, trip_duration_by_ln_lat_end_dict

In [75]:
# To test running this function
# toscore = create_features_scoring(Test_raw.loc[:10,:], dct1, dct2, dct3, dct4)

def create_features_scoring(input_df, dct1, dct2, dct3, dct4):
    input_df['start_lat_2'] = round(input_df['start_lat'],3)
    input_df['start_lng_2'] = round(input_df['start_lng'],3)
    input_df['end_lng_2'] = round(input_df['end_lng'],3)
    input_df['end_lat_2'] = round(input_df['end_lat'],3)
    
    #trip_cnt_by_ln_lat_start = input_df.groupby(['start_lat_2','start_lng_2'])['row_id'].size()
    #trip_cnt_by_ln_lat_end   = input_df.groupby(['end_lat_2','end_lng_2'])['row_id'].size()
    
    #trip_cnt_by_ln_lat_start_dict = dict(trip_cnt_by_ln_lat_start.sort_values(ascending=False))
    #trip_cnt_by_ln_lat_end_dict   = dict(trip_cnt_by_ln_lat_end.sort_values(ascending=False))

    #trip_duration_by_ln_lat_start = input_df.groupby(['start_lat_2','start_lng_2'])['duration'].mean()
    #trip_duration_by_ln_lat_end   = input_df.groupby(['end_lat_2','end_lng_2'])['duration'].mean()
    
    #trip_duration_by_ln_lat_start_dict = dict(trip_duration_by_ln_lat_start.sort_values(ascending=False))
    #trip_duration_by_ln_lat_end_dict   = dict(trip_duration_by_ln_lat_end.sort_values(ascending=False))
    
    lst_start_lat_lng = input_df[['start_lat_2','start_lng_2']].values.tolist()
    lst_end_lat_lng = input_df[['end_lat_2','end_lng_2']].values.tolist()
    
    lst_trip_cnt_by_ln_lat_start = [dct1.get(tuple(x)) for x in lst_start_lat_lng]
    lst_trip_cnt_by_ln_lat_end = [dct2.get(tuple(x)) for x in lst_end_lat_lng]

    lst_trip_duration_by_ln_lat_start = [dct3.get(tuple(x)) for x in lst_start_lat_lng]
    lst_trip_duration_by_ln_lat_end = [dct4.get(tuple(x)) for x in lst_end_lat_lng]
    
    input_df['trip_cnt_by_start'] = lst_trip_cnt_by_ln_lat_start
    input_df['trip_cnt_by_end'] = lst_trip_cnt_by_ln_lat_end
    input_df['trip_duration_by_start'] = lst_trip_duration_by_ln_lat_start
    input_df['trip_duration_by_end'] = lst_trip_duration_by_ln_lat_end
    
    return input_df